@model WebApp.Models.LoginViewModel

<h1>Login</h1>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<form method="post">
    <input type="email" placeholder="Email" name="Email" value="@Model?.Email" />
    <br />
    <input type="password" placeholder="Password" name="Contrasena" />
    <br />
    <input type="submit" value="Login" />
</form>

<p>@TempData["Error"]</p>
